/* ---------- CIRCULAR CROPS ------- */

.circular-crop-small {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.circular-crop-medium {
  object-fit: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.circular-crop-large {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.contenucenter{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodygeneral{
  margin-top: 100px;
}
.feed-edit-profile .pictureProfile, .feed-edit-profile button.changepictureProfile{
  text-align: center;
}
.feed-edit-profile h3, .feed-edit-profile p{
  text-align: center;
}
html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
/* ----------- PRINCIPAL ----------- */
h1 {
  color: #3f3f3f;
  font-size: 2.1em;
  text-align: center;
  font-weight: 700;
  font-family: 'PT Sans Narrow';
}
h2 {
  color: #3f3f3f;
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  font-family: 'PT Sans Narrow';
}
p {
  color: #3f3f3f;
  font-size: 0.9em;
  text-align: left;
  font-size: 400;
  margin: 0;
}
.material-icons {
  font-size: 1.1em;
}
/* ----------- HEADER ----------- */

.header {
  position: fixed;
  z-index: 1;
  background: #fff;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 0 1px 15px rgba(24, 24, 24, 0.1);
}
.menu-bar {
  align-self: center;
}
.menu-bar a {
  padding: 5px;
  text-decoration: none;
  color: #626262;
}
.menu-bar a:active {
  color: #74b49a;
  font-weight: 700;
}
.menu-bar a:hover {
  color: #74b49a;
  font-weight: 700;
}
.headerMain {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
}
.flexHeader {
  width: 33.3%;
  justify-content: space-between;
  text-align: right;
  align-self: center;
}

.mainLogo img {
  display: block;
  width: 100px;
  height: auto;
  max-width: 100%;
  text-align: left;
}
.searchBtn input {
  width: 100%;
  text-align: center;
  padding: 4px;
  border-width: 2px;
  border-radius: 15px;
  height: 20px;
  background-color: #f9f9f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
}
.searchBtn input:before {
  content: "\e8b6";
  font-family: 'Material Icons';
  position: absolute;
  left: 0;

}

.searchBtn input:focus {
  border-style: solid;
  border-color: #74b49b;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.pictureProfile img {
  width: 40px;
  height: 40px;
}

.koos-intro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 85px;
  flex-direction: column-reverse;
}
.koss-text-flex {
  background: #74b49b;
}
.koos-intro-flex {
  padding: 40px;
}
.sign-in-intro {
  text-align: center;
}
.intro-text {
  color: white;
}

.registerform {
  text-align: center;
}

input, .input-register input,
.input-register textarea {
  width: 40%;
  max-width: 460px;
  margin: 2px 0 10px 0;
  resize: none;
  height: auto;
  width: 200px;
  font-family: 'PT Sans', sans-serif;
  color: #3f3f3f;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  padding: 13px;
}

.input-register textarea {
  max-width: 460px;
  width: 200px;
}

.signinsuccess {
  text-align: center;
}

.ideals-style {
  position: relative;
  color: #f2f2f2;
}
.ideals-style a {
	color: #f2f2f2;
}
.big {
  color: #f2f2f2;
  text-align: left;
  font-size: 1.9em;
  position: relative;
}

.huge {
  position: absolute;
  font-size: 3em;
  top: -33px;
  left: -5px;
  opacity: 0.4;
}
.landingTitle {
  color: #f2f2f2;
}
.ideals-style p {
  color: #f2f2f2;
}
.ideals-style-flex {
  display: flex;
  flex-wrap: wrap;
}
.intro-text h2 {
  color: white;
}
.project-text {
	color: #626262;
}

.project-text a {
	color: #626262;
}
.ideals-style-text {
  width: 90%;
  padding: 10px;
}
.tryit {
  margin-top: 20px;
}
.tryit p {
  text-align: center;
  padding: 10px 0;
}

.profil-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 950px;
  width: 90%;
  align-self: center;
  justify-content: space-between;
  margin: 100px auto;
}

.editprofilnav a {
  color: #3f3f3f;
  text-decoration: none;
}
.editprofilnav a:hover {
  color: #74b49b;
}
/* ----------- Feed ----------- */

.feed {
  display: flex;
  flex-wrap: wrap;
  margin: 110px auto;
  justify-content: space-between;
  max-width: 960px;
  width: 90%;
}

.feed-flex-style {
  background: #fff;
  border-radius: 15px;
  margin: 20px 0 0 0;
  position: relative;
  padding: 15px;
  box-shadow: 0 1px 15px rgba(24, 24, 24, 0.1);
}

/* ----------- Right FEED PROFILE ----------- */

.feed-right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
.personal-feed-main-comment {
  margin-bottom: 60px;
}
.personal-feed-publish-info {
  display: flex;
  background: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0px 10px;
  border-radius: 0 0 15px;
  padding: 15px;
}
.comment-pp img {
  width: 60px;
  height: 60px;
}
.personal-feed-publish-pp {
  width: 100%;
}
.feed-comment .personal-feed-publish-pp img {
  width: 60px;
  height: 60px;
}
/* ----------- FEED + COMMENT ----------- */

.personal-feed-publish-text {
  width: 100%;
}
.personal-feed-publish h2,
.feed-comment h2 {
  position: relative;
  padding-bottom: 10px;
}
.feed-flex-comment {
  background: #fff;
  border-radius: 0 0 15px 15px;
  margin: 0 10px 0 10px;
  position: relative;
  padding: 0 15px;
}
.feed-comment p,
.feed-comment h2 {
  padding: 0px 0 5px;
}
.feed-comment .personal-feed-publish-info::after,
.personal-feed-publish h2::after,
.feed-comment h2::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 25px;
  width: 100%;
  background-color: #74b49b;
  height: 2px;
  content: '';
}
.feed-comment .personal-feed-publish-info::after {
  background-color: #f2f2f2;
}
.personal-feed-main-comment .personal-feed-publish-info:nth-child(1)::after {
  content: none;
}
.feed-comment .personal-feed-publish-text h2::after {
  content: none;
}
.personal-feed-publish-text h2 {
  text-align: left;
  padding: 0 0 7px 0;
  margin: 0;
}
.personal-feed-publish p {
  position: relative;
  padding: 11px 0;
  text-align: center;
}
.feed-comment {
  border-radius: 15px 15px 0 0;
}
/* ----------- HASTAG STYLE ----------- */

.hashtag-info {
  color: #626262;
  font-size: 1em;
  font-weight: 700;
  padding: 0 4px;
}
strong {
  color: #74b49b !important;
}

.personal-feed-content {
  display: none;
  text-align: center;
  max-width: 200px;
  height: min-content;
}
.personal-feed-content-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
p.content-info {
  padding: 0 10px;
  text-align: center;
}

/* ----------- MAIN BUTTON  ----------- */

.btn {
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: flex;
  padding: 15px;
  justify-content: center;
  /* align-self: center; */
  align-items: center;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 0;
  width: 100%;
  right: 0;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.3s;
  background: #74b49b;
  border-radius: 0 0 15px 15px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.btn .btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ----------- FOLLOW BUTTON / UNFOLLOW----------- */

.btn-follow {
  background-color: #fafafa;
  padding: 5px 0;
  letter-spacing: inherit;
  text-transform: none;
  position: relative;
  border-radius: 15px;
  color: #626262;
  margin: 10px 0;
  width: auto;
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  justify-content: center;
  padding: 2px 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-editprofil {
  margin-top: 20px;
}
.cross-red {
  color: #b63a3a;
}
.cross-green {
  color: #74b49b;
}
.btn-follow:hover .cross-green,
.btn-follow:hover .cross-red {
  color: #f2f2f2;
}
.btn-1:active {
  border-color: #74b49b;
  color: #74b49b;
}

.btn-1:hover {
  background: #54a283;
}
.btn-1:hover .material-icons {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-follow:hover {
  background: #74b49a;
  color: #f2f2f2;
}
.btn-unfollow:hover {
  background: #b63a3a;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1:active:before {
  color: #74b49a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1:before {
  left: 70%;
  opacity: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1:hover:before {
  left: 80%;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-signin {
  margin: 0 auto;
  padding: 14px 40px;
  background: #74b49b;
  color: #f3f3f3;
  max-width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-editavatar{
  text-align: center;
  margin: 7px auto;
}
.feed-comment-anwser {
  margin: 0 10px;
  border-radius: 0 0;
} /* ----------- FOOTER ----------- */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  justify-content: center;
}
.footer-flex {
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 20px;
}
.footer-flex img {
  width: 100px;
  padding: 10px;
}
.footer-flex p {
  text-align: center;
	color: #626262;
}
.footer-flex p a {
	color: #626262;
}
.error{
  justify-content: center;
  display: flex;
  color: #910516!important;
}
/* ----------- Text area style ----------- */
textarea {
  margin: 0;
  width: 90%;
  resize: none;
  height: auto;
  font-family: 'PT Sans', sans-serif;
  color: #3f3f3f;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  padding: 8px;
}
.personal-feed-publish-textarea {
  font-size: 1em;
}

.editprofilnav{
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
}
.editprofilnav p{
  padding: 10px;
}

.feed-flex-style .personicon{
  color: #74b49a;
  padding-right: 5px;
  align-self: center;
  top: 3px;
  position: relative;
}

.editprofile .pictureProfile{
  text-align: center;
}
.pictureProfile .circular-crop-medium{
  width: 60px; height: 60px;
}
.followingprofile{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.followingprofile div{
  padding: 7px;
  border: 1px solid #f2f2f291;
  margin: 2px;
  text-align: center;
  width: 19%;
  justify-content: center;
  border-radius: 15px;
  align-self: center;
}
.followingprofile div p{
  text-align: center;
  font-weight: 700;
}
.editprofile{
  text-align: center;
  justify-content: center;
}
.profildescritpion{
  text-align: center;
}
.editprofile .btn{
  margin: 0 auto;
}

/* ----------- MEDIA QUERIES ----------- */

@media only screen and (min-width: 500px) {
  .personal-feed-publish-info {
    flex-direction: row;
  }
  .personal-feed-publish-text {
    width: 75%;
    background: white;
    display: flex;
    border-radius: 15px;
    justify-content:flex-start;
    flex-direction: column;
    text-align: left;
  }
  .personal-feed-publish-pp {
    width: auto;
    text-align: left;
    margin-right: 10px;
  }
  .personal-feed-publish p {
    text-align: left;
  }
  .personal-feed-publish-text h2 {
    text-align: left;
  }
}
@media only screen and (min-width: 650px) {
  .personal-feed-content {
    display: block;
    width: 20%;
  }

  .feed-right-content {
    width: 70%;
    margin: initial;
  }
  .ideals-style-flex {
    flex-direction: row;
  }
  .ideals-style-text {
    width: 29.3%;
    justify-content: space-between;
  }
  .profil-flex-content {
  }
}
@media only screen and (min-width: 1100px) {
  .koos-intro {
    flex-direction: row;
    height: 100vh;
  }
  .koos-flex {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .koos-intro-flex {
    align-self: center;
    max-width: 500px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
}
