body {
  @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,700&display=swap');
  @material/react-material-icon/dist/material-icon.css

  position: relative;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;
  font-size: 81.3%;
  width: 100%;
  background-color: #f9f9f9;
  margin: 0!important;

}
